<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Details</servlet-name>
    <servlet-class>servlets.student.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/student/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlets.student.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/student/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Create</servlet-name>
    <servlet-class>servlets.student.Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/student/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>servlets.student.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/student/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MDetails</servlet-name>
    <servlet-class>servlets.module.MDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MDetails</servlet-name>
    <url-pattern>/module/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MIndex</servlet-name>
    <servlet-class>servlets.module.MIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIndex</servlet-name>
    <url-pattern>/module/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MCreate</servlet-name>
    <servlet-class>servlets.module.MCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MCreate</servlet-name>
    <url-pattern>/module/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MEdit</servlet-name>
    <servlet-class>servlets.module.MEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MEdit</servlet-name>
    <url-pattern>/module/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CDetails</servlet-name>
    <servlet-class>servlets.m_class.CDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CDetails</servlet-name>
    <url-pattern>/class/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CIndex</servlet-name>
    <servlet-class>servlets.m_class.CIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CIndex</servlet-name>
    <url-pattern>/class/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CCreate</servlet-name>
    <servlet-class>servlets.m_class.CCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CCreate</servlet-name>
    <url-pattern>/class/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CEdit</servlet-name>
    <servlet-class>servlets.m_class.CEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CEdit</servlet-name>
    <url-pattern>/class/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TDetails</servlet-name>
    <servlet-class>servlets.teacher.TDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TDetails</servlet-name>
    <url-pattern>/teacher/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TIndex</servlet-name>
    <servlet-class>servlets.teacher.TIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TIndex</servlet-name>
    <url-pattern>/teacher/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TCreate</servlet-name>
    <servlet-class>servlets.teacher.TCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCreate</servlet-name>
    <url-pattern>/teacher/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TEdit</servlet-name>
    <servlet-class>servlets.teacher.T_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TEdit</servlet-name>
    <url-pattern>/teacher/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyStudents</servlet-name>
    <servlet-class>servlets.teacher.MyStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyStudents</servlet-name>
    <url-pattern>/teacher/mystudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TSDetails</servlet-name>
    <servlet-class>servlets.teacher.MyStudentsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TSDetails</servlet-name>
    <url-pattern>/teacher/mystudentsdetails</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.user.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.user.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>
</web-app>